body {
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Roboto;
}
ul li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
#file {
	background-image: https://img.icons8.com/cotton/2x/upload.png;
	width: 100px;
	height: 100px;
}
.container {
	background: #eeeeee;  /* fallback for old browsers */
	background: -webkit-linear-gradient(#ffffff, #eeeeee);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#ffffff, #eeeeee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 2px solid rgba(0,0,0,.2);
	
	
	width: 500px;
	height: auto;
	padding-bottom: 20px;
	
	margin: auto;
	
}
.chatLists {
	border-bottom: 2px solid rgba(0,0,0,.2);
}
.caution {
	text-align: center;
	font-size: 17px;
	font-style: italic;
}
.placeholdermessage {
	text-align: center;
}
.title {
	font-size: 50px;
	text-align: center;
}
.formBox {
	text-align: center;
}
.formBox input:first-child {
	margin-top: 7px;
	text-align: center;
	height: 30px;
	width: 170px;
	line-height: 30px;
	font-size: 20px;
}
.formBox input:nth-of-type(2) {
	margin-top: 7px;
	text-align: center;
	height: 70px;
	width: 480px;
	line-height: 30px;
	font-size: 20px;
}
.formBox button {
	margin-top: 10px;
	height: 50px;
	width: 50px;
}