body {
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#main {
	margin: 100px 0;
	height: 100%;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

#second {
	margin-bottom: 50px;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
button {
	height: 60px;
	width: 60px;
	border: 1px solid rgba(0,0,0,10);
	border-radius: 10px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#formPlacement {
	text-align: center;
}
#formPlacement input {
	height: 25px;
	width: 150px;
	text-align: center;
}
#formPlacement input::placeholder {
	text-align: center;
}
#frndbtn {
	margin-top: 10px;
}