<%- include("partials/header") %>

<div id="main">
	<p>
		Welcome to Railey's Test Website
	</p>
</div>
<div id="second">
	<p>
		Click the button to see friends!
	</p>
	<a href="/friends">
	<button>Friends</button>
	</a>
</div>

<%- include("partials/footer") %>