<%- include("partials/header") %>

<div>
	
</div>

<div id="formplacement">
	<p>
		What do you say?
	</p>
	<form action="/newchat" method="POST">
		<input type="text" name="newchat" placeholder="Enter Message">
		<button id="submit">Chat</button>
	</form>
</div>



<%- include("partials/footer") %>